<table class="submission-print-wrapper">
  <caption><div class="container">{{ "Below is the data of a submitted form."|t }}</div></caption>
  <thead><tr><th>
      <div class="header-space">&nbsp;</div>
    </th></tr></thead>
  <tbody><tr><td>
      <div class="content">
<div class="submission-print">
  <div class="page-type--form-page wrapper no-sidebar no-sidebar-first no-sidebar-second submission-print__top">
    <div class="container">
      <h1>{{ form }}</h1>
    </div>
    <header role="banner" class=" submission-print__header">
      <div class="container">
        <div class="submission-print__header-branding"¨>
          <div class="submission-print__header-branding-block">
            <div class="submission-print__sector-name">
              {{ "City of Helsinki, Educatioivision / Archives"|t }}
            </div>
            <div class="submission-print__sector-address">
              {{ "Töysänkatu 2 D"|t }}
              <br/>
              {{ "00510 Helsinki"|t }}
            </div>
          </div>
          <div class="submission-print__header-branding-right">
            <div>
              <h2 class="submission-print__label">{{ "Form number"|t }}</h2>
              {{ id }}
            </div>
            <div>
              <h2 class="submission-print__label">{{ "Form submitted"|t }}</h2>
              {{ submissionDate|date('d.m.Y H:i:s') }}
            </div>
            <button type="button" class="hds-button hds-button--primary" onclick="window.print()">

              <span aria-hidden="true" class="hel-icon hel-icon--printer"></span>
              <span class="hds-button__label">{{ "Print the form"|t }}</span>

            </button>
          </div>
        </div>
      </div>
    </header>

  </div>
  <div>


    <main role="main" class="layout-main-wrapper">
      <a id="main-content" tabindex="-1"></a>
      <div class="container">
        <div>
          {{ submission }}
        </div>
        <div class="submission-print__footer">
          <div class="submission-print__footer-copyright">
            {% if language == 'sv' %}
              <span class="hel-icon hel-icon--helsinki-sv logo__icon logo__icon--sv" aria-hidden="true"></span>
            {% else %}
              <span class="hel-icon hel-icon--helsinki logo__icon logo__icon--fi" aria-hidden="true"></span>
            {% endif %}
            <span class="submission-print__footer-text">
              &nbsp;&copy;&nbsp;{{ "City of Helsinki"|t }} {{ 'now' | date('Y') }} |&nbsp;<a href="/">www.hel.fi</a>
            </span>
          </div>
          <button type="button" class="hds-button hds-button--primary" onclick="window.print()">

            <span aria-hidden="true" class="hel-icon hel-icon--printer"></span>
            <span class="hds-button__label">{{ "Print the form"|t }}</span>

          </button>
        </div>
      </div>

    </main>

  </div>
  <footer role="contentinfo" class="footer">
    <div class="container">

    </div>
  </footer>
</div>
      </div>
    </td></tr></tbody>
  <tfoot><tr><td>
      <div class="footer-space">&nbsp;</div>
    </td></tr></tfoot>
</table>
